<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>카드 생성</h1>
</div>
<form th:object="${card}"
      th:action="@{/folders/{folderId}/notes/{noteId}/cards/add(folderId=${folderId}, noteId=${noteId})}"
      method="post">
    <div>
        <label for="keyword">키워드</label>
        <input type="text" id="keyword" name="keyword" th:field="*{keyword}" placeholder="키워드를 입력해주세요">
    </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" th:field="*{content}" placeholder="내용을 입력해주세요">
    </div>
    <div>
        <button type="submit">생성</button>
        <button th:onclick="|location.href='@{/folders/{folderId}/notes/{noteId}(folderId=${folderId}, noteId=${noteId})}'|" type="button">취소</button>
    </div>
</form>
</body>
</html>